<% content_for :title, '登录'%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">登录</h3>
      </div>

      <div class="panel-body">
        <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :account %>
            <%= f.text_field :account, class: 'form-control', placeholder: '请使用邮箱或用户名' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control', placeholder: '请输入密码' %>

            <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>记住登录</span>
            <% end %>

            <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>


    <p>New user? <%= link_to "Sign up now!", sign_up_path %></p>
  </div>
</div>