<%
  floor = reply_counter + 1
%>
<div class="media reply">
  <%= link_to gravatar_for(reply.user, size: 50), '#', class: "media-left" %>
  <div class="media-body">
    <div class="info">
      <span class="name">
        <%= link_to reply.user.username, '#' %>
      </span> ·
      <span class="time">
        <a class="reply-floor" href="#reply<%= floor %>">#<%= floor %></a>
        · <%= timeago(reply.created_at) %>
      </span>
    </div>

    <div class="markdown">
      <%= simple_format reply.body %>
    </div>

  </div>
</div>