<% content_for :title, @meetup.title %>

<div class="row">
  <div class="col-md-9">
    <div id="meetup_detail" class="panel panel-info">
      <%= render "meetup_info", meetup: @meetup %>
    </div>

    <% if @meetup.replies.blank? %>
        <div class="no-result">
          <%= "没有任何回复喔～" %>
        </div>
    <% else %>
        <div id="replies" class="panel panel-info">
          <div class="panel-heading">
            共收到 <b><%= @meetup.replies_count %></b> 条回复
          </div>
          <div class="panel-body">
            <%= render partial: "/replies/reply", collection: @meetup.replies %>
          </div>
        </div>
    <% end %>

    <div id="reply" class="panel panel-info">
      <div class="panel-heading hide-ios">回帖</div>
      <div class="panel-body">
        <%= render "replies/form" %>
      </div>
    </div>

  </div> <!--class="col-md-9"-->
</div>   <!--class="row"-->

